<!--forgot Password page-->
<ion-header class = "ion-no-border">
  <ion-toolbar>
    
    <ion-buttons slot = "start">
      <ion-back-button defaulthref ="loginscreen" text = "">
        
      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "bg-color">
  <ion-card class = "ion-no-margin">
    <ion-card-header>
      <ion-card-title>
       Forgot Password?
      </ion-card-title>
      <ion-card-subtitle>
       Get a reset password
        <br>by filling up the email
      </ion-card-subtitle>
  
    </ion-card-header>
      
    <ion-card-content>
      
      <ion-item>
        <ion-icon name = "mail-outline"></ion-icon>
        <ion-input type ="text"  [(ngModel)]="email" placeholder="Email" required></ion-input>
      </ion-item>
  
    
    </ion-card-content>
    
    <div class = "sign-btn-wrap">
      <ion-button shape = "round" fill = "solid" class = "sign-btn"  (click)="reset()">
        Reset Password
    
      </ion-button>
     
    </div>
  </ion-card>
  </ion-content>